.donation-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.glass-input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 10px;
    color: white;
    outline: none;
    font-family: inherit;
}

.glass-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.oschad-btn {
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.oschad-btn:hover {
    background: #006b48;
    transform: scale(1.05);
}

/* Стиль для анімації сповіщення */
.alert-container {
    position: fixed;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
}

.alert-container.active {
    top: 50px;
}